#Database
DATABASE_URL="url"

#JWT
JWT_SECRET=secret

#Mail
SMTP_HOST=host
SMTP_PORT=465
SMTP_USER=user
SMTP_PASS=pass

#RMQ
RABBITMQ_URL=url

#Cloudnary
CLOUDNARY_CLOUD_NAME=name
CLOUDNARY_API_KEY=key
CLOUDNARY_API_SECRET=secret

#App
PORT=some_number
URL_BASE=urlbase
NODE_ENV=development